<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data - ManuFactor</title>
    <link rel="stylesheet" href="styles.css">
    <!-- stylesheet is just an example for now, styles.css doesnt exist in Increment 2 -->
</head>
<body>
    <div class="form1-container">
        <h1>View and Manage Data</h1>
        <h2>Add New CVP Data</h2>
        <form action="/add_data" method="POST">

            <label for="fixed-costs">Fixed Costs ($):</label>
            <input type="number" id="fixed-costs" name="fixed-costs" required>

            <label for="variable-cost-per-unit">Variable Cost per Unit ($):</label>
            <input type="number" id="variable-cost-per-unit" name="variable-cost-per-unit" required>

            <label for="selling-price-per-unit">Selling Price per Unit ($):</label>
            <input type="number" id="selling-price-per-unit" name="selling-price-per-unit" required>

            <label for="projected-units">Target Income ($):</label>
            <input type="number" id="projected-units" name="projected-units" required>

            <input type="submit" value="Add Data">

        </form>
    </div>
    <div class ="form2-container">
        <h2>Add New BP Data</h2>
        <form action="/add_data" method="POST">

            <label for="sales1">Current Month's Projected Sales ($):</label>
            <input type="number" id="sales1" name="sales1" required>

            <label for="sales2">Next Month's Projected Sales ($):</label>
            <input type="number" id="sales2" name="sales2" required>

            <label for="sales3">Subsequent Month's Projected Sales ($):</label>
            <input type="number" id="sales3" name="sales3" required>

            <label for="desired-ei">Desired Ending Inventory (%):</label>
            <input type="number" id="desired-ei" name="desired-ei" required>

            <label for="direct-material">Direct Material per Unit:</label>
            <input type="number" id="direct-material" name="direct-material" required>

            <label for="desired-dm-ei">Desired Direct Material Ending Inventory (%):</label>
            <input type="number" id="desired-dm-ei" name="desired-dm-ei" required>

            <input type="submit" value="Add Data">

        </form>
    </div>
    <a href="list_data.html">
        <button>View Data</button>
    </a>
    <a href="home.html">
        <button>Back to Dashboard</button>
    </a>
</body>
</html>